<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="modules/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css">
<link rel="stylesheet" href="modules/angular-bootstrap/ui-bootstrap-csp.css">
<link href="modules/angucomplete-alt/angucomplete-alt.css" rel="stylesheet">
<link href="modules/angular-ui-select/dist/select.min.css" rel="stylesheet">
<link href="modules/adapt-strap/dist/adapt-strap.min.css" rel="stylesheet">
<link href="modules/angular-ui-notification/dist/angular-ui-notification.min.css" rel="stylesheet">
<link href="modules/angular-ui-switch/angular-ui-switch.min.css" rel="stylesheet">




<script type="text/javascript" src="modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="modules/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="modules/angular/angular.min.js"></script>
<script type="text/javascript" src="modules/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="modules/ng-stomp/dist/ng-stomp.standalone.min.js"></script>


<script src="modules/angular-ui-switch/angular-ui-switch.min.js"></script>

<script src="modules/chart.js/dist/Chart.min.js"></script>
<script src="modules/angular-chart.js/dist/angular-chart.min.js"></script>

<script type="text/javascript" src="modules/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="modules/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="modules/angular-touch/angular-touch.min.js"></script>
<script type="text/javascript" src="modules/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="modules/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="modules/angular-utils-pagination/dirPagination.js"></script>

<script type="text/javascript" src="modules/spin.js/spin.js"></script>
<script type="text/javascript" src="modules/angular-spinner/angular-spinner.min.js"></script>
<script type="text/javascript" src="modules/angular-loading-spinner/angular-loading-spinner.js"></script>
<script type="text/javascript" src="modules/angular-ui-select/dist/select.min.js"></script>
<script type="text/javascript" src="modules/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
<script type="text/javascript" src="modules/adapt-strap/dist/adapt-strap.min.js"></script>
<script type="text/javascript" src="modules/adapt-strap/dist/adapt-strap.tpl.min.js"></script>

<script type="text/javascript" src="modules/angular-dragdrop/src/angular-dragdrop.min.js"></script>
<script src="modules/angular-ui-notification/dist/angular-ui-notification.min.js"></script>


<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="config/config.js"></script>
<script type="text/javascript" src="config/interceptors.js"></script>

<script type="text/javascript" src="controllers/primero.controller.js"></script>
<script type="text/javascript" src="controllers/segundo.controller.js"></script>
<script type="text/javascript" src="controllers/main.controller.js"></script>
<script type="text/javascript" src="controllers/productos.controller.js"></script>
<script type="text/javascript" src="controllers/login.controller.js"></script>
<script type="text/javascript" src="services/productos.service.js"></script>
<script type="text/javascript" src="services/core.service.js"></script>




<meta charset="UTF-8">
<title>Demo</title>
</head>
<style>
.pointer {
	cursor: pointer;
}
.espacioderecha {
	margin-right: 10px;
}
.modal-80 {
	width: 80%;
}
.modal-40 {
	width: 40%;
}
</style>
<body ng-app="demo">


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     
      <a class="navbar-brand" href="#">Demo</a>
    </div>

    

      <ul ng-show="autenticado" style="margin-top: 10px" class="nav navbar-nav navbar-right">
        <li>(<i class="fas fa-user-ninja"></i> {{user.name}})</li>
        <li><span ng-click="logout()" style ="padding-right: 5px; padding-left: 10px" class="pointer"><strong>logout</strong></span></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



	
	<div ng-view="">
	</div>
	













	<hr/>
	
	<div ng-hide="true">
	{{ 2==2 }}
	<div ng-controller="ctrl-div1">
		
		{{titulo}}
		<br/>
		{{numero}}
		<br/>
		<span style='font-size: {{size}}px'>Bla bla bla bla</span>
		<br/>
		<input type="number" ng-model="size">		
	</div>
	<hr/>
	<div ng-controller="ctrl-div2">
		<input type="checkbox" ng-model="chk1">
		<span ng-hide="chk1">Valor Check1</span>
		
		
	</div>
	</div>
</body>
</html>